.btn-custom1 {
  color: black;
  border: none  ;
  width: 20vw;
  font-size: large;
  background-color: none;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.no-padding {
  padding: 0 !important;
}
