.btn-custom {
  position: relative;
  display: inline-block;
  text-align: center;
  padding-right: 2rem;
  color: white;
  background-color: #0b2343;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.btn-custom span {
  display: inline-block;
}

.btn-custom svg {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.btn-custom:hover {
  color: white;
  background-color: #123a66;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.btn-custom:active {
  background-color: #092132;
  transform: scale(0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
